<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>忍具</title>
</head>
<body>
	<h1>忍具の仕入れ</h1>
	<p>
		<a href="/item">忍具一覧に戻る</a>
	</p>
	<form action="" method="post">
		<table border="1" cellpadding="5" cellspacing="0">

			<tr>
				<th>名前</th>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<th>総数</th>
				<td><input type="number" name="number" min="0" value="10">個</td>
			</tr>
			<tr>
				<th>使用済</th>
				<td><input type="number" name="no" min="0" max="10">個</td>
			</tr>
			<tr>
				<th>使用可</th>
				<td><input type="number" name="yes" min="0" max="10">個</td>
			</tr>
			<tr>
				<th>修理中</th>
				<td><input type="number" name="destroy" min="0" max="10">個</td>
			</tr>
			<tr>
				<th>メモ</th>
				<td><input type="text" name="text"></td>
			</tr>
		</table>
		<p>
			<input type="submit" value="追加">
		</p>



	</form>
</body>
</html>