<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>忍具</title>
</head>
<body>
	<h1>仕入れ完了</h1>
	<p>忍具を仕入れました</p>
	<table border="1" cellpadding="5" cellspacing="0">
		<tr>
			<th>名前</th>
			<td>[[${name}]]</td>
		</tr>
		<tr>
			<th>総数</th>
			<td>[[${number}]]</td>
		</tr>
		<tr>
			<th>使用済</th>
			<td>[[${no}]]</td>
		</tr>
		<tr>
			<th>使用可</th>
			<td>[[${yes}]]</td>
		</tr>
		<tr>
			<th>修理中</th>
			<td>[[${destroy}]]</td>
		</tr>
		<tr>
			<th>メモ</th>
			<td>[[${text}]]</td>
		</tr>

	</table>

	<ul>
		<li><a href="/item">忍具一覧に戻る</a></li>
		<li><a href="/item/add">続けて忍具を仕入れる</a></li>
	</ul>

</body>
</html>