<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>忍具一覧</title>
</head>
<body>
	<h1>忍具一覧</h1>
	<p>
		<a href="/item/add">忍具を追加する</a>
	</p>
	<table border="1" cellpadding="5" cellspacing="0">
		<tr>
			<th>名前</th>
			<th>総数</th>
			<th>使用済</th>
			<th>使用可</th>
			<th>修理中</th>
			<th>メモ</th>
		</tr>
		<tr>
			<td>手裏剣</td>
			<td>5個</td>
			<td>0個</td>
			<td>5個</td>
			<td>0個</td>
			<td><a href="/item/show/1">メモ</a></td>
		</tr>
		<tr>
			<td>兵糧丸</td>
			<td>10個</td>
			<td>0個</td>
			<td>10個</td>
			<td>0個</td>
			<td><a href="/item/show/2">メモ</a></td>
		</tr>



	</table>

</body>
</html>