<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>道具一覧</title>
</head>
<body>
<h1>道具一覧</h1>

<p><a th:href="@{/add}">道具の追加</a></p>

<table border ="1">
<tr>
<th>種類</th>
<th>名前</th>
<th>総個数</th>
<th>使用済</th>
<th>使用可</th>
<th>修理中</th>
<th>メモ</th>
</tr>
<tr th:each = "item : ${items}">
<td>[[${item.itemId}]]</td>
<td>[[${item.name}]]</td>
<td>[[${item.number}]]</td>
<td>[[${item.no}]]</td>
<td>[[${item.yes}]]</td>
<td>[[${item.destroy}]]</td>
<td>[[${item.memo}]]</td>
</tr>

</table>


</body>
</html>